//nav_1
@mixin nav() {
    background: #fff;
    padding: 1rem 2rem;
    position: relative;

    .header1__pc-wrap {
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 99;

        .nav-style-1 {
            .main-list {
                display: flex;
                gap: 0 4rem;

                >li {
                    .main-list__menu {
                        font-size: 1.6rem;
                        padding: 0.4rem 0;
                        display: block;
                        overflow: hidden;

                        .line {
                            display: block;
                            width: 100%;
                            height: 2px;
                            background: #000;
                            transform: translateX(-110%);
                            transition: transform 300ms;
                        }
                    }
                }
            }

            .mo-nav-btn {
                width: 4rem;
                height: 4rem;
                padding: 0;
                position: relative;
                display: none;

                .mo-nav-btn__line {
                    display: block;
                    background: #999;
                    height: 2px;
                    width: 4rem;
                    position: absolute;
                    left: 0;
                    top: 40%;
                    transition: 300ms;

                    &:last-child {
                        top: 65%;
                        width: 3rem;
                        background: #444;
                    }
                }

                &.active {
                    .mo-nav-btn__line {
                        width: 4rem;
                        height: 1px;
                        top: 50%;
                        background: #222;
                        transform: rotate(20deg);

                        &:last-child {
                            transform: rotate(-20deg);
                        }
                    }
                }
            }
        }

        .pc-wrap__right {
            display: flex;
            gap: 1rem;

            a {
                display: block;
                font-size: 1.4rem;
            }

        }
    }

    .mo-nav-wrap-1 {
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        height: 100vh;
        width: 100%;
        padding: 10rem 4rem 2rem;
        visibility: hidden;
        transition: background 500ms, visibility 300ms;
        display: none;

        .mo-main-list {
            li {
                margin-bottom: 5rem;
                transform: translateX(-100%);

                .mo-main-list__menu {
                    font-size: 3rem;
                }
            }

            @keyframes move_right {
                0% {
                    transform: translateX(-100%);
                }

                100% {
                    transform: translateX(0);
                }
            }
        }

        &.active {
            background: #fff;
            visibility: visible;

            .mo-main-list {

                @for $delay from 0 through 4 {
                    li:nth-child(#{$delay + 1}) {
                        animation: move_right 1000ms calc(500ms * $delay) ease both;
                    }
                }
            }
        }

    }


    @media (max-width:1024px) {
        .header1__pc-wrap {
            .nav-style-1 {
                .main-list {
                    display: none;
                }

                .mo-nav-btn {
                    display: block;
                }
            }

            .pc-wrap__right {
                display: none;
            }
        }

        .mo-nav-wrap-1 {
            display: block;
        }
    }
}

//nav_2
@mixin nav2() {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 0 2rem;
    position: relative;

    .header2__pc-wrap {
        justify-content: space-between;
        align-items: center;

        .nav-style-2 {

            display: flex;
            align-items: center;

            .main-list {
                display: flex;

                // &:hover,
                &.active {
                    li {
                        .sub-list {
                            display: block;
                        }
                    }

                    &:after {
                        display: block;
                    }
                }

                li {
                    position: relative;

                    // &:hover,
                    &.active {
                        .main-list__menu {
                            border-bottom: 3px solid #4045ff;
                            color: #4045ff;
                        }

                        .sub-list {
                            background: #efefef;
                        }
                    }

                    .main-list__menu {
                        font-size: 1.8rem;
                        width: 12rem;
                        height: 8rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 500;
                        border-bottom: 3px solid transparent;
                    }

                    .sub-list {
                        position: absolute;
                        z-index: 1;
                        height: 30rem;
                        display: none;

                        li {
                            .sub-list__menu {
                                font-size: 1.6rem;
                                width: 12rem;
                                height: 6rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: #999;

                                &.active {
                                    color: #000;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }

                &:after {
                    content: '';
                    display: none;
                    width: 100%;
                    height: 30rem;
                    background: #fff;
                    position: absolute;
                    left: 0;
                    top: 8.1rem;
                    border-bottom: 1px solid #ddd;
                }
            }

            .mo-nav-open {
                display: none;
            }

            @media (max-width:1024px) {
                .main-list {
                    display: none;
                }

                .mo-nav-open {
                    display: block;
                }
            }
        }

        .pc-wrap__right {
            display: flex;
            gap: 1rem;

            a {
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                gap: 1rem;
                color: #999;

                &:hover {
                    color: #222;
                }

                &:after {
                    width: 1px;
                    height: 1rem;
                    content: '';
                    display: block;
                    background: #ddd;
                }

                &:last-child {
                    border: 1px solid #999;
                    border-radius: 3rem;
                    padding: 0.4rem 0.6rem;

                    &:hover {
                        border-color: #222;
                    }

                    &:after {
                        display: none;
                    }
                }
            }

            @media (max-width:1024px) {
                display: none;
            }
        }
    }

    .mo-nav-wrap-2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(#000, 0);
        visibility: hidden;
        transition: background 300ms, visibility 300ms;

        &.active {
            background: rgba(#000, 0.5);
            visibility: visible;

            .mo-nav-wrap__mo-nav-box {
                right: 0;
            }
        }

        .mo-nav-wrap__mo-nav-box {
            background: #fff;
            position: absolute;
            top: 0;
            right: -100%;
            width: 40rem;
            height: 100vh;
            overflow: auto;
            transition: right 500ms;

            @media (max-width:768px) {
                width: 90%;
            }

            .mo-nav-box__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 1rem 4rem 3rem;
                position: sticky;
                top: 0;
                background: #fff;

                .header__info {
                    display: flex;
                    gap: 1rem;

                    li {
                        display: flex;
                        align-items: center;

                        &:after {
                            content: '';
                            width: 1px;
                            height: 1.4rem;
                            display: block;
                            background: #ddd;
                            margin-left: 1rem;
                        }

                        &:last-child:after {
                            display: none;
                        }

                        a {
                            font-size: 1.4rem;
                            color: #999;
                        }
                    }
                }

                .mo-nav-close {
                    padding: 0;
                }
            }

            .mo-main-list {
                li {
                    .mo-main-list__menu {
                        font-size: 1.8rem;
                        display: flex;
                        width:100%;
                        align-items: center;
                        justify-content: space-between;
                        padding: 1.6rem 2rem 1.6rem 3rem;

                        .xi-angle-down {
                            color: #999;
                        }

                        &.active {
                            .xi-angle-down {
                                color: #222;
                                transform: rotate(180deg);
                            }
                        }
                    }

                    .sub-list {
                        background: #efefef;
                        height: 0;
                        overflow: hidden;
                        transition: height 300ms;

                        li {
                            .sub-list__menu {
                                font-size: 1.4rem;
                                color: #999;
                                display: block;
                                padding: 1.2rem 1rem 1.2rem 3rem;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width:1024px) {
        padding: 1rem 2rem;
    }
}

//nav_3
@mixin nav3() {
    padding: 0 2rem;
    position: relative;

    .header3__pc-wrap {
        justify-content: space-between;
        align-items: center;

        .header-title {
            position: relative;
            z-index: 9;
        }

        .nav-style-3 {
            display: flex;
            align-items: center;

            .main-list {
                display: flex;
                gap: 1rem;
                position: relative;
                z-index: 9;


                li {
                    position: relative;

                    .main-list__menu {
                        font-size: 1.8rem;
                        width: 12rem;
                        height: 8rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 500;

                        &:hover,
                        &:focus {
                            color: #4045ff;
                            transition: color 500ms;
                        }
                    }

                    .sub-list {
                        position: absolute;
                        z-index: 1;
                        height: 0;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 100ms;

                        li {
                            .sub-list__menu {
                                font-size: 1.6rem;
                                width: 12rem;
                                padding: 1rem 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: #222;
                                transition: color 500ms;

                                &:hover,
                                &:focus {
                                    color: #4045ff;
                                }
                            }
                        }
                    }
                }

            }

            &.active {
                .main-list {
                    li {
                        .sub-list {
                            height: 23rem;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                .gnb-bg {
                    height: 31rem;
                }

            }

            .gnb-bg {
                width: 100%;
                height: 0;
                background: rgba(#fff, 0.6);
                backdrop-filter: blur(1rem);
                position: absolute;
                left: 0;
                top: 0;
                transition: height 300ms;
            }


            @media (max-width:1024px) {
                .main-list {
                    display: none;
                }

            }
        }

        .pc-wrap__right {
            display: flex;
            gap: 1rem;

            a {
                display: flex;
                align-items: center;
                gap: 1rem;
                color: #222;
                position: relative;
                z-index: 9;

                @media (max-width:1024px) {
                    display: none;
                }
            }

            .mo-nav-btn {
                padding: 0;
                position: relative;
                width: 2.6rem;
                height: 2.6rem;
                z-index: 99;

                .mo-nav-btn__line {
                    width: 2.7rem;
                    height: 2px;
                    background: #222;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);

                    &:nth-child(2) {
                        top: 20%;
                    }

                    &:last-child {
                        top: 80%;
                    }

                }

                &.active {
                    .mo-nav-btn__line {

                        &:first-child {
                            animation: btn_act1 500ms both linear;
                        }

                        &:nth-child(2) {
                            animation: btn_act3 500ms both linear;
                        }

                        &:last-child {
                            animation: btn_act2 500ms both linear;
                        }
                    }
                }

                @keyframes btn_act1 {
                    0% {
                        top: 20%;
                    }

                    50% {
                        top: 50%;
                        transform: translateY(-50%) rotate(0);
                    }

                    100% {
                        top: 50%;
                        transform: translateY(-50%) rotate(45deg);
                    }
                }

                @keyframes btn_act2 {
                    0% {
                        top: 80%;
                    }

                    50% {
                        top: 50%;
                        transform: translateY(-50%) rotate(0);
                    }

                    100% {
                        top: 50%;
                        transform: translateY(-50%) rotate(45deg);
                    }
                }

                @keyframes btn_act3 {
                    0% {
                        top: 50%;
                    }

                    50% {
                        top: 50%;
                        transform: translateY(-50%) rotate(0);
                    }

                    100% {
                        top: 50%;
                        transform: translateY(-50%) rotate(135deg);
                    }
                }

            }

        }
    }
    .mo-nav-wrap-3{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(#000, 0);
        visibility: hidden;
        transition: background 300ms, visibility 300ms;
        z-index: 10;
    
        &.active {
            background: rgba(#000, 0.5);
            visibility: visible;
    
            .mo-nav-wrap__mo-nav-box {
                right: 0;
            }
        }
    
        .mo-nav-wrap__mo-nav-box {
            background: #fff;
            position: absolute;
            top: 0;
            right: -100%;
            width: 50rem;
            height: 100vh;
            overflow: auto;
            transition: right 500ms;
    
            @media (max-width:768px) {
                width: 100%;
            }
    
            .mo-main-list {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 100%;
    
                li {
    
                    .mo-main-list__menu {
                        font-size: 3rem;
                        display: flex;
                        align-items: center;
                        padding: 2rem 0rem 2rem 8rem;
                        line-height: 1;
                        color: #999;
    
                        &.active {
    
                            color: #222;
    
                            &:before {
                                color: #222;
                            }
    
                            >span {
                                opacity: 1;
                            }
                        }
    
                        &:hover,
                        &:focus {
                            color: #222;
    
                            &:before {
                                color: #222;
                            }
    
                            >span {
                                opacity: 1;
                            }
                        }
    
                        &:before {
                            content: '01';
                            display: block;
                            color: #999;
                            font-size: 1.2rem;
                            margin-right: 2rem;
                            transform: translateY(-0.6rem);
                        }
    
                        >span {
                            display: flex;
                            width: 3.4rem;
                            height: 3.4rem;
                            border-radius: 50%;
                            background: #222;
                            justify-content: center;
                            align-items: center;
                            margin-left: 0.6rem;
                            opacity: 0;
                            transition: opacity 300ms;
    
                            .xi-arrow-right {
                                font-size: 2rem;
                                color: #fff;
                            }
                        }
                    }
    
                    &:nth-child(2) .mo-main-list__menu:before {
                        content: '02';
                    }
    
                    &:nth-child(3) .mo-main-list__menu:before {
                        content: '03';
                    }
    
                    &:nth-child(4) .mo-main-list__menu:before {
                        content: '04';
                    }
    
                    .sub-list {
                        padding-left: 8.6rem;
                        height: 0;
                        overflow: hidden;
                        transition: height 300ms;
    
                        li {
                            .sub-list__menu {
                                font-size: 1.4rem;
                                color: #222;
                                display: block;
                                padding: 1.2rem 1rem 1.2rem 3rem;
                            }
                        }
                    }
                }
            }
    
            .mo-nav-wrap__footer {
                position: absolute;
                bottom: 3rem;
                left: 8rem;
    
                .sns {
                    color: #222;
                    margin-right: 1rem;
                }
            }
        }

    }

    @media (max-width:1024px) {
        padding: 1rem 2rem;
    }
}


// .nav-container {
//     padding-left: 21rem;

//     @media (max-width:1024px) {
//         padding-left: 0;
//     }
// }
.con-wrap__header1 {
    @include nav();
}

.con-wrap__header2 {
    @include nav2();
}

.con-wrap__header3 {
    @include nav3();
}
