
@mixin table($tBody:0,$tr:0, $allBd:0 ,$bdColor:#d9dee3){
    %cellStyle{
        text-align: start;
        padding:1rem 3rem;
        white-space: nowrap;
        border:$allBd solid $bdColor;
    }

    width:100%;
    border-collapse: collapse;
    tbody{
        border-top:$tBody solid $bdColor;
        tr{
            border-top:$tr solid $bdColor;
            th{
                text-indent: 0.8rem;
            }
        }
    }
    th{
        @extend %cellStyle;
        color:#566a7f;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 500;
    }
    td{
        @extend %cellStyle;
        color:#697a8d;
        font-size: 1.5rem;
        // &:first-child{
        //     text-indent:0.8rem;
        // }
    }

}

@mixin tableStriped(){
    tbody{
        tr:nth-child(odd){
            background:#f9fafb;
        }
    }
}

.table-responsive{
    overflow-x: auto;
}

.table{
    &-basic{
        @include table(2px, 1px);
    }
    &-border{
        @include table(2px, 0, 1px);
    }
    &-borderless{
        @include table();
    }
    &-striped{
        @include tableStriped();
    }
}