@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

/* 3D Effects */
.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}
.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}
body .con-wrap__header3 {
  position: fixed;
  width: 100%;
  z-index: 99;
  padding: 1rem 0;
}
body .con-wrap__header3 .header3__pc-wrap .header-title {
  color: #fff;
}
body .con-wrap__header3 .header3__pc-wrap .header-title a {
  line-height: 8rem;
}
body .con-wrap__header3 .header3__pc-wrap .nav-style-3 .main-list > li .main-list__menu {
  font-size: 2rem;
  color: #fff;
}
body .con-wrap__header3 .header3__pc-wrap .nav-style-3 .main-list > li .main-list__menu:hover, body .con-wrap__header3 .header3__pc-wrap .nav-style-3 .main-list > li .main-list__menu:focus {
  color: #fff;
  font-weight: bold;
}
body .con-wrap__header3 .header3__pc-wrap .nav-style-3 .main-list > li .sub-list li .sub-list__menu {
  color: #fff;
}
body .con-wrap__header3 .header3__pc-wrap .nav-style-3 .main-list > li .sub-list li .sub-list__menu:hover, body .con-wrap__header3 .header3__pc-wrap .nav-style-3 .main-list > li .sub-list li .sub-list__menu:focus {
  color: #fff;
  font-weight: bold;
}
body .con-wrap__header3 .header3__pc-wrap .nav-style-3 .gnb-bg {
  background-color: rgba(0, 0, 0, 0.1);
}
body .con-wrap__header3 .header3__pc-wrap .pc-wrap__right {
  align-items: center;
  gap: 2.2rem;
}
body .con-wrap__header3 .header3__pc-wrap .pc-wrap__right .quick-qna {
  font-size: 2rem;
  color: #fff;
  position: relative;
}
body .con-wrap__header3 .header3__pc-wrap .pc-wrap__right .qna-link {
  font-size: 2rem;
  color: #5068ed;
  background-color: #fff;
  padding: 1.2rem 2.7rem;
  border-radius: 5rem;
  z-index: initial;
}
body .con-wrap__header3 .header3__pc-wrap .pc-wrap__right .mo-nav-btn {
  display: none;
}
body .con-wrap__header3 .header3__pc-wrap .pc-wrap__right .mo-nav-btn.active .mo-nav-btn__line {
  background-color: #000;
}
body main .visual {
  background-image: linear-gradient(to left, #465fed, #657aef);
  padding: 23.6rem 0rem 21rem;
}
body main .visual-wrap {
  position: relative;
}
body main .visual-box {
  position: relative;
  z-index: 1;
}
body main .visual-title {
  font-size: 6rem;
  color: #fff;
  line-height: 1.2;
}
body main .visual-text-box {
  margin-top: 4rem;
}
body main .visual-text {
  color: #fff;
  font-size: 2rem;
  line-height: 1.6;
}
body main .visual-link {
  color: #fff;
  display: inline-block;
  margin-top: 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  line-height: 1.6;
  font-size: 2rem;
}
body main .visual-img-wrap .deco-buble {
  position: absolute;
  border-radius: 50%;
  display: block;
}
body main .visual-img-wrap .deco-buble.bub1 {
  width: 25.3rem;
  height: 25.3rem;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.5), transparent 60%);
  top: -8.6rem;
  left: -11.3rem;
}
body main .visual-img-wrap .deco-buble.bub2 {
  width: 28.2rem;
  height: 28.2rem;
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.2), transparent 70%);
  top: -2rem;
  right: -16rem;
}
body main .visual-img-wrap .deco-buble.bub3 {
  width: 14rem;
  height: 14rem;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.4), transparent);
  top: -2rem;
  right: -18rem;
}
body main .visual-img-wrap .img-wrap {
  position: absolute;
  width: 80%;
  bottom: -10.2rem;
  right: -20rem;
}
body main .visual-img-wrap .img-wrap img {
  width: 100%;
}
body main .container .intro-item {
  background-color: transparent;
}
body main .container .intro-item:first-child {
  padding-right: 6.5rem;
  margin-bottom: 3rem;
}
body main .container .intro-item:last-child {
  padding-left: 6.5rem;
}
body main .container .intro-item .text-wrap {
  padding: 0;
}
body main .container .intro-item .text-wrap .layout-title {
  color: #333;
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 3rem;
}
body main .container .intro-item .text-wrap .layout-title-sub {
  color: #333;
  font-size: 1.8rem;
  line-height: 2;
  -webkit-line-clamp: initial;
  margin: 0;
  word-break: keep-all;
}
body main .container-inner .duolg-item {
  background-color: transparent;
}
body main .container-inner .duolg-item .text-wrap {
  padding: 0;
}
body main .container-inner .duolg-item .text-wrap .layout-title {
  font-size: 5rem;
  color: #333;
  line-height: 1.4;
}
body main .container-inner .duolg-item .text-wrap .layout-title-sub {
  font-size: 1.8rem;
  color: #666;
  line-height: 2;
  -webkit-line-clamp: initial;
  word-break: keep-all;
}
body main .bubble {
  flex-direction: column;
}
body main .bubble-qst {
  width: 31.9rem;
  margin-left: auto;
}
body main .bubble-ans {
  width: 32.6rem;
  margin: 1.5rem 0 1.2rem;
}
body main .bubble img {
  width: 100%;
}
body main .best-item img {
  width: 100%;
}
body main .best-item dl {
  margin-top: 3rem;
}
body main .best-item dt {
  margin-bottom: 0.9rem;
  font-size: 2.4rem;
  text-align: center;
}
body main .best-item dd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  color: #666;
  font-size: 1.4rem;
}
body main .best-item dd div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
body main .best-item dd .category {
  color: #fb1616;
}
body main .best-item__desc {
  position: relative;
}
body main .best-item__desc::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -8px;
  width: 1px;
  height: 14px;
  background: #666;
  transform: translateY(-50%);
}
body main .best-item__desc::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -8px;
  width: 1px;
  height: 14px;
  background: #666;
  transform: translateY(-50%);
}
body main .best-swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 4rem;
}
body main .best-swiper .swiper-pagination-bullet {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid #747474;
  border-radius: 50%;
  box-sizing: border-box;
}
body main .best-swiper .swiper-pagination-bullet-active {
  background: #747474;
}
body main .benefit {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem 1.2rem;
}
body main .benefit-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(33.33% - 0.8rem);
  padding: 5rem 0;
  background: #f5f8ff;
  border-radius: 1rem;
  text-align: center;
}
body main .benefit-item:nth-of-type(odd) {
  background: #e8ecf6;
}
body main .benefit-item .icon {
  display: block;
  width: 12rem;
  height: 12rem;
}
body main .benefit-item .icon._benefit1 {
  background: url(../images/benefit1.svg) no-repeat center;
  background-size: cover;
}
body main .benefit-item .icon._benefit2 {
  background: url(../images/benefit2.svg) no-repeat center;
  background-size: cover;
}
body main .benefit-item .icon._benefit3 {
  background: url(../images/benefit3.svg) no-repeat center;
  background-size: cover;
}
body main .benefit-item .icon._benefit4 {
  background: url(../images/benefit4.svg) no-repeat center;
  background-size: cover;
}
body main .benefit-item .icon._benefit5 {
  background: url(../images/benefit5.svg) no-repeat center;
  background-size: cover;
}
body main .benefit-item .icon._benefit6 {
  background: url(../images/benefit6.svg) no-repeat center;
  background-size: cover;
}
body main .benefit-item dt {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 700;
}
body main .benefit-item dd {
  color: #666;
  font-size: 1.6rem;
}
body main .brand-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5rem;
}
body main .brand-list .logo-icon {
  display: block;
  width: 15rem;
  height: 15rem;
}
body main .brand-list .logo-icon img {
  width: 100%;
}
body main .consult .tit-group {
  display: flex;
  margin-bottom: 10rem;
}
body main .consult .tit-group .h1 {
  width: 50%;
  margin-bottom: 0;
  text-align: left;
}
body main .consult .tit-group p {
  width: 50%;
  font-size: 1.8rem;
}
body main .consult__process {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
body main .consult__process li {
  width: 193px;
  height: 193px;
  text-indent: -9999px;
  overflow: hidden;
}
body main .consult__process li.step1 {
  background: url(../images/consult1.png) no-repeat center;
  background-size: cover;
}
body main .consult__process li.step2 {
  background: url(../images/consult2.png) no-repeat center;
  background-size: cover;
}
body main .consult__process li.step3 {
  background: url(../images/consult3.png) no-repeat center;
  background-size: cover;
}
body main .consult__process li.step4 {
  background: url(../images/consult4.png) no-repeat center;
  background-size: cover;
}
body main .consult__process li.step5 {
  background: url(../images/consult5.png) no-repeat center;
  background-size: cover;
}
body main .consult__process li.step6 {
  background: url(../images/consult6.png) no-repeat center;
  background-size: cover;
}
body main .banner {
  background: #5a70ee;
}
body main .banner__box {
  gap: 2rem;
}
body main .banner__item {
  display: block;
  width: 30rem;
  padding: 1.8rem 0;
  background: #84a1ea;
  border-radius: 1rem;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
body main .banner__item._gohome {
  background: #fff;
  color: #5a70ee;
}
body .container {
  padding: 10rem 0;
}
body .container-inner {
  position: relative;
  width: 126rem;
  margin: 0 auto;
}
body .bg-blue {
  background: #f5f8ff;
}
body .h1 {
  margin-bottom: 10rem;
  font-family: "Sebang Gothic", sans-serif;
  color: #333;
  font-size: 4.2rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
}
body .h1 strong {
  font-weight: 700;
}
body hgroup {
  margin-bottom: 5rem;
}
body hgroup .h1 {
  margin-bottom: 2rem;
}
body hgroup span {
  display: block;
  color: #666;
  font-size: 1.8rem;
  text-align: center;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  width: 126rem;
  margin: 0 auto;
  padding: 5rem 0;
}
.footer__logo {
  font-family: "Sebang Gothic", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}
.footer-left {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  width: 70%;
}
.footer-left address {
  font-style: normal;
  font-size: 1.6rem;
}
.footer-left address strong {
  font-size: 1.8rem;
}
.footer-left address ul {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.footer-left address li {
  width: 50%;
}
.footer-right {
  color: #5970ee;
  font-size: 4.2rem;
  text-align: right;
  line-height: 1.2;
}
.footer-right strong {
  display: block;
  font-weight: 700;
}

@media (max-width: 1700px) {
  body main .visual-img-wrap .deco-buble.bub1 {
    left: -8rem;
  }
  body main .visual-img-wrap .deco-buble.bub2 {
    right: -8rem;
  }
  body main .visual-img-wrap .deco-buble.bub3 {
    right: -10rem;
  }
  body main .visual-img-wrap .img-wrap {
    width: 70%;
    right: -10rem;
    bottom: -5rem;
  }
}
@media (max-width: 1520px) {
  body main .visual-img-wrap .deco-buble.bub2 {
    width: 25rem;
    height: 25rem;
    right: -1rem;
  }
  body main .visual-img-wrap .deco-buble.bub3 {
    right: -3rem;
  }
  body main .visual-img-wrap .img-wrap {
    width: 60%;
    right: -5rem;
    bottom: -1rem;
  }
}
@media (max-width: 1400px) {
  body main .visual-img-wrap .deco-buble.bub1 {
    opacity: 0.5;
  }
  body main .visual-img-wrap .deco-buble.bub2 {
    width: 25rem;
    height: 25rem;
    right: -3rem;
    opacity: 0.5;
  }
  body main .visual-img-wrap .deco-buble.bub3 {
    right: -5rem;
    opacity: 0.5;
  }
  body main .visual-img-wrap .img-wrap {
    width: 90%;
    right: 50%;
    bottom: 30%;
    transform: translate(50%, 50%);
  }
  body main .visual-img-wrap .img-wrap img {
    opacity: 0.2;
  }
}
@media (max-width: 1260px) {
  body .container-inner {
    width: 98%;
  }
  body main .consult .tit-group .h1 {
    padding-left: 5%;
  }
  .footer-inner {
    width: 98%;
  }
}
@media (max-width: 1199px) {
  body main .container .intro-item:first-child {
    padding-right: 0;
  }
  body main .container .intro-item:last-child {
    padding-left: 0;
  }
}
@media (max-width: 1024px) {
  body .con-wrap__header3 .header3__pc-wrap .pc-wrap__right .quick-qna {
    display: none;
  }
  body .con-wrap__header3 .header3__pc-wrap .pc-wrap__right .mo-nav-btn {
    display: block;
  }
  body .con-wrap__header3 .header3__pc-wrap .pc-wrap__right .mo-nav-btn .mo-nav-btn__line {
    background-color: #fff;
  }
  body main .visual-img-wrap .deco-buble.bub1 {
    width: 20rem;
    height: 20rem;
    left: -3rem;
  }
  body main .visual-img-wrap .deco-buble.bub2 {
    width: 20rem;
    height: 20rem;
    top: 2rem;
    right: 3rem;
  }
  body main .visual-img-wrap .deco-buble.bub3 {
    top: 2rem;
    right: 0;
  }
  body main .visual-img-wrap .img-wrap {
    width: 100%;
  }
  body main .duolg {
    display: flex;
  }
  body main .benefit-item {
    width: calc(50% - 0.6rem);
  }
  body main .consult .tit-group {
    display: block;
    text-align: center;
  }
  body main .consult .tit-group .h1 {
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 0;
    text-align: center;
  }
  body main .consult .tit-group p {
    width: 100%;
  }
  .footer-left address ul {
    display: block;
  }
  .footer-left address ul li {
    width: auto;
  }
}
@media (max-width: 768px) {
  body main .visual-title {
    font-size: 4rem;
  }
  body main .visual-text {
    font-size: 1.6rem;
    display: flex;
    flex-wrap: wrap;
  }
  body main .container .intro-item .text-wrap .layout-title {
    font-size: 2rem;
    word-break: keep-all;
    line-height: 1.4;
  }
  body main .container .intro-item .text-wrap .layout-title-sub {
    font-size: 1.6rem;
  }
  body main .container .duolg-item .text-wrap .layout-title {
    font-size: 3.2rem;
  }
  body main .container .duolg-item .text-wrap .layout-title-sub {
    font-size: 1.6rem;
  }
  body main .consult .tit-group {
    margin-bottom: 5rem;
  }
  body main .banner__item {
    width: calc(30% - 1rem);
    padding: 1.5rem 0;
    font-size: 1.8rem;
  }
  body .h1 {
    margin-bottom: 5rem;
    font-size: 2.4rem;
  }
  .footer-inner {
    display: block;
  }
  .footer__logo {
    margin-bottom: 1rem;
    font-size: 2.4rem;
  }
  .footer-left {
    display: block;
    width: auto;
    margin-bottom: 2rem;
    text-align: center;
  }
  .footer-right {
    font-size: 2.4rem;
    text-align: center;
  }
}
@media (max-width: 640px) {
  body main .benefit-item {
    width: 100%;
    padding: 3rem;
  }
  body main .benefit-item .icon {
    width: 8rem;
    height: 8rem;
  }
  body main .benefit-item dt {
    font-size: 1.8rem;
  }
  body main .benefit-item dd {
    font-size: 1.4rem;
  }
  body main .consult__process {
    gap: 1.2rem;
  }
  body main .consult__process li {
    width: calc(33.33% - 0.8rem);
    height: 15rem;
    background-size: contain !important;
  }
}
@media (max-width: 500px) {
  body main .visual {
    padding: 18rem 0 16rem;
  }
  body main .visual-title {
    font-size: 2.4rem;
  }
  body main .visual-text {
    font-size: 1.4rem;
  }
  body main .visual-img-wrap .deco-buble.bub1 {
    top: -5rem;
    width: 14rem;
    height: 14rem;
  }
  body main .visual-img-wrap .deco-buble.bub2 {
    width: 12rem;
    height: 12rem;
    top: 8rem;
    right: 0;
  }
  body main .visual-img-wrap .deco-buble.bub3 {
    width: 5rem;
    height: 5rem;
    top: 8rem;
  }
  body main .bubble-qst {
    width: 26rem;
  }
  body main .bubble-ans {
    width: 28rem;
  }
  body main .banner .h1 strong {
    display: block;
  }
  body main .banner__box {
    gap: 1rem;
  }
  body main .banner__item {
    width: calc(50% - 0.5rem);
  }
  body main .consult__process li {
    height: 12rem;
  }
  body .container {
    padding: 8rem 0;
  }
}

/*# sourceMappingURL=style.css.map */
